body {
        margin: 0px;
		background-image: url("imgs/bd.jpg");
    }
	
	a{
		color:#c40000;
	}
	a:hover{
		color:#a40000;
	}
.cont {
		width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
		font-family:Montserrat, sans-serif;
    }
.bx {
		padding:50px 20px 10px 20px;
        width: 80%;
		background-color:#fff6;
		border: 1px solid #999;
		border-top: 0px;
    }
.bx2 {
		padding: 0px 20px 0px 5px;
}
.bxpainel{
		margin: 100px 0px 0px 0px;
		padding: 10px 20px 10px 20px;
        width: 80%;
		background-color:#fff6;
		border: 1px solid #999;
}
.geralserv{
		padding:80px 20px 10px 20px;
        width: 70%;
}
.lateralserv{
		padding:10px 20px 10px 20px;
        width: 22%;
		background-color:#fff6;
		border: 1px solid #999;
		float: left;
		position:fixed;
}
.centralserv{
	
		padding:10px 10px 10px 10px;
        width: 66%;
		background-color:#fff6;
		border: 1px solid #999;
		float: right;
}
.boxcoment{
	
		width: 100%;
		height: 100px;
		background-color:#6665;
		padding:10px 10px 10px 10px;
		border: 1px solid #999;
		margin-bottom: 3px;
}
.boxnomecoment{
	width:40%;
	float:left;
}
.boxnotacoment{
	width:60%;
	float:left;
}
.boxorder{
		padding:10px 10px 0px 10px;
}
.boxserv{
		padding:0px 10px 0px 10px;
}
.minusspace{
		margin: 3px;
}
.boxanun{
		width: 100%;
		height: 184px;
		background-color:#6665;
		padding:10px 10px 10px 10px;
		border: 1px solid #999;
}
.boxanun:hover{
		width: 100%;
		height: 184px;
		background-color:#3335;
		padding:10px 10px 10px 10px;
		border: 1px solid #999;
}
.fotoanun{
		width:25%;
		height:100%;
		float: left;
}
.descanun{
		float: right;
		width:75%;
		height:100%;
		border: 1px solid #999;
		padding:10px 10px 10px 10px;
}
.linkanun{
		color: black;
}
.linkanun:hover{
		color: black;
}
.anunpht{
		width:100%;
		background-color:black;	
}


.ptitle{
	
    color:white;
	background-image:linear-gradient(to right, #ff0000 , #990000);
	width:100%;
	margin-top:40px;
	padding: 10px;
	padding-top:40px;
	font-family:Montserrat, sans-serif;
	font-size:40px;
}


.carousel-inner img 
{
	width: 100%;
	margin: auto;
}

.carousel-caption h3 
{
	color:#fff !important;
}

@media (max-width: 600px) 
{
	.carousel-caption 
	{
		display:none;
	}
}
		
.jumbotron
{
	font-family:Montserrat, sans-serif;
	font-size:40px;
}
.btn-danger{
	background-color:#c40000;
}
.btn-danger:hover{
	background-color:#a40000;
}
input[type=range] {
  height: 26px;
  margin: 0px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #D82020;
  border-radius: 47px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -7px;
}